AG_UI_MOCK_URL=http://127.0.0.1:4800
SACS_AG_UI_URL=http://127.0.0.1:8000/ag-ui
SACS_AG_UI_SERVICE_KEY=replace-with-service-key
SACS_OPENWEBUI_USER_JWT=replace-with-signed-user-jwt
COPILOT_RUNTIME_HOST=127.0.0.1
COPILOT_RUNTIME_PORT=4801
